/*------------------------------------------------------------------------------

Custom Stylesheet provided by WP Accessibility (http://www.joedolson.com/articles/wp-accessibility/)

*/
a:hover, a:active {
    color: #d54e21;
    text-decoration: underline !important;
}

a:focus {
    color: #124964;
    text-decoration: underline !important;
}

.next-page:focus, .next-page:hover, .last-page:focus, .last-page:hover, .prev-page:focus, .prev-page:hover, .first-page:focus, .first-page:hover {
    border: 1px solid #124964 !important;
}

.view-switch a img {
    border: 1px solid #fff;
}

.view-switch a:hover img, .view-switch a:focus img {
    border: 1px solid #124964 !important;
    border-radius: 2px;
}

.button-primary.hover, .button-primary:hover, .button-primary.focus, .button-primary:focus {
    border-color: #002 !important;
}

.button-secondary.hover, .button-secondary:hover, .button-secondary.focus, .button-secondary:focus, .button:hover, .button:focus {
    border-color: #000 !important;
}
