/*
Document   : accessibility
Created on : Oct 12, 2012, 3:27:54 PM
Author     : Eric
*/
/* Use this class to hide content from display, but to make it accessible to screen readers */
.accessibility-nonvisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

/* All Accessibility Bar components are contained within this main div */
#accessibilityBar {
  position: relative;
  background: white;
  /* some themes (notably _s) put a clear:both on all headings and a bunch of other things. */
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em; }
  #accessibilityBar * {
    clear: none; }
  #accessibilityBar a {
    white-space: nowrap;
    text-decoration: none;
    /* Highlight focused items when using keyboard navigation */ }
  #accessibilityBar h4 {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: inherit; }
    body.ie7 #accessibilityBar h4 {
      display: inline; }
  #accessibilityBar ul {
    margin: 0; }
  #accessibilityBar #accessibilityBarContent {
    padding: 10px; }
  body.ie7 #accessibilityBar, body.ie8 #accessibilityBar {
    background-color: white;
    border: 1px solid white; }

/*	Manage the hiding and showing of the bar.
	The 'collapsed' class is applied when the bar is hidden.
*/
#accessibility-bar-expand, #accessibility-bar-collapse {
  margin: 0;
  padding: 10px 6px 6px;
  cursor: pointer; }
  #accessibility-bar-expand a, #accessibility-bar-collapse a {
    display: inline-block;
    text-align: center; }
    #accessibility-bar-expand a img, #accessibility-bar-collapse a img {
      border: none;
      padding: 0;
      margin: 0;
      display: inline-block; }
  #accessibility-bar-expand.has-image a, #accessibility-bar-collapse.has-image a {
    display: block;
    border: none;
    line-height: inherit; }

#accessibility-bar-expand {
  display: none; }

#accessibility-bar-collapse {
  display: inline-block; }

#accessibilityBar.collapsed {
  padding: 0;
  margin: 0; }
  #accessibilityBar.collapsed #accessibilityBarContent {
    display: none; }

#accessibility-bar-expand.collapsed {
  display: inline-block; }

#accessibility-bar-collapse.collapsed {
  display: none; }

/* All the components of the bar are inline-block */
#skip-to, #controlsMenu, #cookie-crumb {
  display: inline-block;
  margin: 5px; }

/* Inline styles for LI navigation links */
#quickaccess, #accessibilityControls, #zg-crumb {
  display: inline-block;
  list-style: none;
  margin-top: 6px;
  padding: 0; }
  body.ie7 #quickaccess, body.ie7 #accessibilityControls, body.ie7 #zg-crumb {
    display: inline; }
  #quickaccess li, #accessibilityControls li, #zg-crumb li {
    display: inline;
    position: relative;
    padding: 0 4px; }

/* Skip Links styling */
#quickaccess li {
  border-left-width: 1px;
  border-left-style: solid; }
  #quickaccess li:first-child {
    border: none;
    padding-left: 0; }

/* Controls Menu styling */
#controlsMenu {
  float: right; }

#accessibilityControls {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  #accessibilityControls li {
    display: inline;
    margin: 0;
    cursor: pointer; }
    #accessibilityControls li.button-active {
      /*			background-color:red;*/ }
    #accessibilityControls li a {
      text-align: center; }

/* Cookie Crumb styling */
#cookie-crumb {
  display: block;
  clear: both;
  padding-bottom: 10px;
  margin-bottom: 0; }
  #cookie-crumb .crumb {
    display: inline-block; }
