body {
	background: #fefefe;
	color: #232323;
	font-size: 1.3rem;
	font-weight: 300;
	margin: 0;
	border-top: 30px solid #243f82;
}

#main {
	border-top: 10px solid #79b3e1;
}

nav {
	margin-top: 0;
	padding-top: 28px;
	border-top: 10px solid #9b5;
}

section {
	margin-right: 0;
}

footer {
	padding: 12px 24px;
}

h1, h2, h3 {
	line-height: 1.2;
	font-family: Garamond, serif;
	font-weight: 900;
	letter-spacing: -.01em;
}

h1.page-title {
	font-size: 42px;
	margin-top: .5em;
}

.type-signature {
	color: #000;
}

dl.details {
	background: #fafafa;
	padding: 10px;
}

dl.details dt {
	padding-top: 0;
}

dl.details li {
	padding-top: 0;
}

nav ul {
	font-size: 1.2rem;
}

nav li a {
	background-image: none;
}

nav li a:hover {
	text-decoration: underline;
}

article h1 {
	margin: 12px 0 32px;
}

a {
	text-decoration: underline;
	color: #243f82;
	transition: all .1s;
}

a:visited,
a:active {
	color: #232323;
}

a:focus,
a:hover {
	color: #000;
	text-decoration: none;
}

a.banner {
	background-image: none;
	margin-left: -10px;
}

a.banner img {
	width: 100%;
	max-width: 888px;
}

footer {
	font-style: normal;
}

.home #main main > section:first-of-type,
.home nav > h2 {
	display: none;
}

.prettyprint.source {
	font-size: 1.1rem;
}

.prettyprint code {
	padding: 2px 10px;
	line-height: 16px;
	min-height: 16px;
	height: auto;
}

.pln {
  color: #3d3d3c; }

@media screen {
  /* string content */
  .str {
    color: #617c00; }

  /* a keyword */
  .kwd {
    color: #794998; }

  /* a comment */
  .com {
    color: #6e605c; }

  /* a type name */
  .typ {
    color: #32619e; }

  /* a literal value */
  .lit {
    color: #e5770f; }

  /* punctuation */
  .pun {
    color: #3d3d3c; }

  /* lisp open bracket */
  .opn {
    color: #2d2d2c; }

  /* lisp close bracket */
  .clo {
    color: #2d2d2c; }

  /* a markup tag name */
  .tag {
    color: #c82829; }

  /* a markup attribute name */
  .atn {
    color: #e5770f; }

  /* a markup attribute value */
  .atv {
    color: #2e898f; }

  /* a declaration */
  .dec {
    color: #e5770f; }

  /* a variable name */
  .var {
    color: #b81819; }

  /* a function name */
  .fun {
    color: #32619e; } }