@font-face {
	font-family: 'a11y';
	src:url('a11y.eot');
	src:url('a11y.eot?#iefix') format('embedded-opentype'),
		url('a11y.woff2') format('woff2'),
		url('a11y.woff') format('woff'),
		url('a11y.ttf') format('truetype'),
		url('a11y.svg#a11y') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="aticon-"]:before, [class*=" aticon-"]:before {
	font-family: 'a11y' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.aticon-font:before {
    content: '\e602';
}

.aticon-adjust:before {
    content: '\e601';
}

.aticon-tint:before {
    content: '\e600';
}