[class^="icon-"], [class*=" icon-"] {
    font-family: 'a11y-toolbar';
    font-style: normal;
    font-weight: normal;

    /* fix buttons height */
    line-height: 1em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.icon-fontsize {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

.icon-contrast {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

.icon-saturation {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}