/*
Make Row Actions permanently visible - provided by WP Accessibility / Joe Dolson
*/
.row-actions {
    visibility: visible;
}

.row-actions a {
    opacity: .8;
}

.row-actions a:hover, .row-actions a:focus {
    opacity: 1;
}