/* Admin styles for WP Accessibility */
.wpa-settings-wrapper {
	display: grid;
	grid-template-columns: 70% 1fr;
}

.notice .views {
	display: grid;
	grid-template-columns: repeat( 2, minmax(0,1fr) );
	column-gap: 20px;
	row-gap: 20px;
	align-items: start;
	margin-bottom: .5em;
}

.notice .views p {
	margin: 0;
	padding: 8px;
}

#wpa_settings_page .postbox {
	margin: 0 10px 10px 0;
}

#wpa_settings_page li {
	margin-bottom: 12px;
}

@media screen and (max-width: 728px) {
	.wpa-settings-wrapper {
		grid-template-columns: auto;
	}
	#wpa_settings_page .postbox {
		margin: 0 0 10px 0;
	}
}


#wpa_settings_page .meta-box-sortables {
	min-height: 0;
}

#wpa_settings_page legend {
	font-weight: 700;
}

#wpa_settings_page label span {
	background: #0000000a;
	padding: 2px;
	margin-left: .5em;
}

.wpa-donate a {
	font-size: 1.2rem;
	padding: .5rem .1rem .6rem;
	background: #233c7f;
	color: #fff;
	border: 2px solid #79b3e1;
	display: block;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.wpa-donate a:hover {
	text-decoration: underline;
}

p.wpa-donate {
	margin: 1em 0 0;
}

#contrast-tester {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
}

.wpa-support-me p {
	font-size: 1.6em;
	font-weight: 600;
	background: #007eb3;
	text-shadow: 1px 1px rgb( 35, 60, 127 );
	padding: 1em;
	text-align: center;
	margin: 0 0 1em;
}

.wpa-support-me p, .wpa-support-me a {
	color: #fff;
}

.wpa-support-me a:hover, .wpa-support-me a:focus {
	text-decoration: none;
	background: #fff;
	color: #007eb3;
	text-shadow: none;
}

#wpa_settings_page ul ul {
	margin: 1em 2em;
}

#wpa_settings_page .hndle, .settings_page_wp-accessibility-wp-accessibility .hndle {
	cursor: auto !important;
}