/* enqueue these as a separate stylesheet so they can be filtered */
.fontsize p,
.fontsize div:not(div:has( p, h1, h2, h3, h4, h5, h6)),
.fontsize footer:not(footer:has( p, h1, h2, h3, h4, h5, h6)),
.fontsize li:not(.a11y-toolbar-list-item),
.fontsize label,
.fontsize input,
.fontsize select,
.fontsize textarea,
.fontsize legend,
.fontsize code,
.fontsize pre,
.fontsize dd,
.fontsize dt,
.fontsize blockquote {
	font-size: var(--wpa-font-size) !important;
	line-height: 1.6;
}

.fontsize h1 {
	font-size: var(--wpa-h1-size) !important;
}

.fontsize h2 {
	font-size: var(--wpa-h2-size) !important;
}
.fontsize h3 {
	font-size: var(--wpa-h3-size) !important;
}
.fontsize h6,
.fontsize h5,
.fontsize h4 {
	font-size: var(--wpa-h4-size) !important;
}

/* Otherwise, these get larger with each level of nesting. */
.fontsize li li {
	font-size: var(--wpa-sub-list-size) !important;
}

.fontsize li li li {
	font-size: var(--wpa-sub-sub-list-size) !important;
}