/*
	Accessibility styles
	chris@inathought.com
*/
.focusable:focus {
	outline: none !important;
}

.has-focus {
	background: yellow;
}

fieldset fieldset {
	margin: 0 0 16px 0;
}

fieldset fieldset legend {
	border-bottom: none !important;
	font-size: inherit;
	margin: 0 !important;
}

fieldset p {
	font-size: inherit !important;
	line-height: 1.3 !important;
}

@-moz-document url-prefix() {
	.a11y-toggle-grayscale { display:none !important; }
}

.a11y-toolbar {
	position: fixed;
	z-index: 99999;
	top: 43%;
	left: 0;
}

.a11y-toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.a11y-toolbar ul li {
	display: block;
	height: 24px;
	width: 24px;
}

.a11y-toolbar .icon {
	display: inline-block;
	background: url('../img/sprite.png') transparent no-repeat;
	height: 16px;
	width: 16px;
	margin-top: 3px;
}

.a11y-toolbar .icon-adjust {
	background-position: 0 0;
}

.a11y-toolbar .icon-tint {
	background-position: 0 -16px;
}

.a11y-toolbar .icon-font {
	background-position: 0 -32px;
}

.a11y-toolbar .icon-white.icon-adjust {
	background-position: -16px -16px;
}

.a11y-toolbar .icon-white.icon-tint {
	background-position: -16px 0;
}

.a11y-toolbar .icon-white.icon-font {
	background-position: -16px -32px;
}

.a11y-toolbar ul li a {
	display: block;
	height: 24px;
	width: 24px;
	background: #e2e2e2;
	text-align: center;
	line-height: 24px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #d2d2d2;
}

.a11y-toolbar ul li a:hover {
	background: #0066cc;
}

.a11y-toolbar ul li a.active {
	background: #0066cc;
}

.a11y-toolbar ul li:first-child a {
	border-top-right-radius: 4px;
}

.a11y-toolbar ul li:last-child a {
	border-bottom-right-radius: 4px;
}

.a11y-toolbar .offscreen, .a11y_stylesheet_path {
	position: absolute !important; 
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px); 
	padding:0 !important; 
	border:0 !important; 
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.desaturated {
	filter: grayscale(100%)!important;
	-webkit-filter: grayscale(100%)!important;
	-webkit-filter: grayscale(1)!important;
	-moz-filter: grayscale(100%)!important;
	-ms-filter: grayscale(100%)!important;
	-o-filter: grayscale(100%)!important;
	filter: gray!important;
}

.fontsize, .fontsize h1, .fontsize h2, .fontsize  h3, .fontsize h4 , .fontsize h5, .fontsize  h6, .fontsize  p, .fontsize  li, .fontsize  label, .fontsize  input, .fontsize  select, .fontsize  textarea, .fontsize legend, .fontsize  code, .fontsize  pre , .fontsize dd, .fontsize dt, .fontsize blockquote  {
	font-size: 125% !important; line-height: 1.4; 
}

.fontsize li li { font-size: 110% !important; }

 .fontsize .a11y-toolbar ul li {
	line-height: 20px !important;
	font-size: 75% !important;
}

 .fontsize .a11y-toolbar ul li a {
	line-height: 24px !important;
}