body, h4, h5, h6, p, li, label, input, select, textarea, legend, code, pre {
    font-size: 115% !important;
    line-height: 1.4 !important;
}

.navbar .nav li {
    font-size: 75% !important;
    line-height: 1.5 !important;
}

.navbar input {
    font-size: 75% !important;
    line-height: 1.5 !important;
}

.navbar .brand {
    line-height: 1 !important;
}

.a11y-toolbar ul li {
    line-height: 20px !important;
    font-size: 75% !important;
}

.a11y-toolbar ul li a {
    line-height: 24px !important;
}